
<section>
  <div class="container-fluid">
    <div class="row valign-wrapper">
      <div class="col s12 m12 l8 xl8">
        <h4>SOMOS</h4>
        <h1 class="titulo">DISTRIBUIDORES <span class="verde">OFICIALES:</span></h1>
      </div>
      <div class="col s12 m12 l4 xl4 center-align">
        <!-- From Uiverse.io by adamgiebl -->

        <button
          class="cssbuttons-io-button"
          [routerLink]="['/productos']"
          routerLinkActive="active"
        >
          EXPLORAR
          <div class="icon">
            <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
              <path d="M0 0h24v24H0z" fill="none"></path>
              <path
                d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                fill="currentColor"
              ></path>
            </svg>
          </div>
        </button>
      </div>
    </div>
  </div>

  <!--div class="container">
    <img src="assets/img/Euroimmun.png" />
    <img src="assets/img/BioRad.png" />
    <img src="assets/img/WienerLab.png" />
    <img src="assets/img/invd.jpg" />
    <img src="assets/img/Euroimmun.png" />
    <img src="assets/img/BioRad.png" />
    <img src="assets/img/WienerLab.png" />
    <img src="assets/img/invd.jpg" />
  </div-->
  <br />
</section>

<section class="parallax">
  <div class="container-fluid contenido alianza">
    <div class="row">
      <div class="col s12">
        <h2>En <b class="publisalud">PUBLISALUD</b> nos mantenemos a la vanguardia</h2>
      </div>     
  <iframe src="https://www.youtube.com/embed/j9HYpvXMhGw?si=cBl3ovdMUA2xWLRI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

    </div>
  </div>
</section>

