

<div class="container">
    <div class="row center-align">
        <div class="col s12">
            <h3>Estamos listos para <span class="verde">ayudarte</span></h3>
        </div>
    </div>
</div>

<div class="grid-container container">
<div class="row">
<div class="col s12 m12 l4 xl4">

  <div class="card">
    <div class="title">Contáctanos</div>
    <div class="icon"><i class="fa-light fa-envelope"></i></div>
    <div class="content">
      <p>Envianos un correo a: contacto@publisalud.com.mx</p>
      <button class="btn-efecto" 
        onclick="window.location.href='mailto:contacto@publisalud.com.mx?subject=Solicitud%20de%20información';">
  <i class="material-icons left">email</i> Escríbenos
</button>


    </div>
  </div>
</div>
<div class="col s12 m12 l4 xl4">

  <div class="card">
    <div class="title">WhatsApp</div>
    <div class="icon"><i class="fa-brands fa-whatsapp"></i></div>
    <div class="content">
        
      <p>Envianos un mensaje: <br>5795-1341</p>
      <button class="btn-efecto">
      <a href="https://wa.me/5257951341?text=Hola%20Publisalud" 
   target="_blank" >
  <i class="material-icons left">chat</i> WhatsApp
</a></button>

    </div>
  </div>
</div>

<div class="col s12 m12 l4 xl4">

  <div class="card">
    <div class="title">Llámanos</div>
    <div class="icon"><i class="fa-light fa-phone-volume"></i></div>
    <div class="content">
      <p>También puedes marcarnos al: <br> 5751-3122 </p>
 <button class="btn-efecto">  
<a href="tel:+5257513122" >
  <i class="material-icons left">call</i> Llámanos
</a></button> 
    </div>
  </div>
  </div>
</div>  
</div>



<app-footer></app-footer>