<div class="container">
  <div class="row center-align">
    <div class="col s12">
      <h3>Estamos listos para <span class="verde">ayudarte</span></h3>
    </div>
  </div>
</div>

<div class="grid-container container">
  <div class="row">
    <div class="col s12 m12 l4 xl4">
      <div class="card">
        <div class="title">Contáctanos</div>
        <div class="icon"><i class="fa-light fa-envelope"></i></div>
        <div class="content">
          <p>Envianos un correo a: contacto@publisalud.com.mx</p>
          <button
            class="btn-efecto"
            onclick="
              window.location.href =
                'mailto:contacto@publisalud.com.mx?subject=Solicitud%20de%20información'
            "
          >
            <i class="material-icons left">email</i> Escríbenos
          </button>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l4 xl4">
      <div class="card">
        <div class="title">Llámanos</div>
        <div class="icon"><i class="fa-light fa-phone-volume"></i></div>
        <div class="content">
          <p>
            También puedes marcarnos al: <br />
            (55)57 51 31 22

          </p>
          <button class="btn-efecto">
            <a href="tel:+5257513122"> <i class="material-icons left">call</i> Llámanos </a>
          </button>
        </div>
      </div>
    </div>

    <div class="col s12 m12 l4 xl4">

  <div class="card">
    <div class="title">Horarios</div>
    <div class="icon"><i class="fa-regular fa-clock"></i></div>
    <div class="content">
        
      <p>Estamos disponibles para ti de: <br> <br><br> Lunes a Viernes <br> 9:00 AM - 6:00 PM </p>
      

    </div>
  </div>
</div>

  </div>
</div>

<app-elegir></app-elegir>
<app-footer></app-footer>
