

<section class="parallax">
    <div class="container contenido">
<div class="row">
    <div class="col s12">
        <h1 class="titulo">SOMOS <span>PUBLISALUD</span> </h1>
    </div>
</div>
  <div class="row center-align">
    <!-- Columna de texto -->
    <div class="col s12 m12 l6 xl6 left-align">
        <div id=container1>
            UNA EMPRESA
            <div id=flip>
                <div><div>HONESTA</div></div>
                <div><div>RESPONSABLE</div></div>
                <div><div>COMPROMETIDA</div></div>
            </div>
            CON LA SALUD
        </div>      
    </div>
    <div class="col s12 m12 xl6 l6 left-align">
       
      <h5 class=" text-darken-3">
    
        Tu mejor aliado en salud
      </h5>

      <ul class="collection">
        <li class="collection-item">
        <i class="fa-solid fa-hand-holding-medical fa-lg" style="color: rgb(118, 183, 83);"></i>
          Recibe atención personalizada con calidad garantizada.
        </li>
        <li class="collection-item">
         <i class="fa-solid fa-person-chalkboard fa-lg" style="color: rgb(78, 199, 243);"></i>
          Asesoría técnica especializada y capacitación continua.
        </li>
        <li class="collection-item">
          <i class="fa-solid fa-wrench fa-xl" style="color: rgb(242, 140, 56);"></i>
          Servicio de ingeniería, soluciones rápidas y confiables.
        </li>
      </ul>
     
    </div>
  </div>
</div>  
</section>




<app-mision></app-mision>
<app-historia></app-historia>



<app-footer></app-footer>