<app-historia></app-historia>
<app-mision></app-mision>

<section class="parallax">
    <div class="container contenido">
<div class="row">
    <div class="col s12">
        <h1 class="titulo">SOMOS <span>PUBLISALUD</span> </h1>
    </div>
</div>
  <div class="row center-align">
    <!-- Columna de texto -->
    <div class="col s12 m12 l6 xl6 left-align">
        <div id=container1>
            UNA EMPRESA
            <div id=flip>
                <div><div>HONESTA</div></div>
                <div><div>RESPONSABLE</div></div>
                <div><div>COMPROMETIDA</div></div>
            </div>
            CON LA SALUD
        </div>      
    </div>
    <div class="col s12 m12 xl6 l6 left-align">
       
      <h5 class=" text-darken-3">
    
        Tu mejor aliado en salud
      </h5>

      <ul class="collection">
        <li class="collection-item">
        <i class="fa-solid fa-hand-holding-medical fa-lg" style="color: rgb(118, 183, 83);"></i>
          Recibe atención personalizada con calidad garantizada.
        </li>
        <li class="collection-item">
         <i class="fa-solid fa-person-chalkboard fa-lg" style="color: rgb(78, 199, 243);"></i>
          Asesoría técnica especializada y capacitación continua.
        </li>
        <li class="collection-item">
          <i class="fa-solid fa-wrench fa-xl" style="color: rgb(242, 140, 56);"></i>
          Servicio de ingeniería, soluciones rápidas y confiables.
        </li>
      </ul>
     
    </div>
  </div>
</div>  
</section>



<!--div class="blog-slider">
  <div class="blog-slider__wrp swiper-wrapper">
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">        
        <img src="assets/img/4.png" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code titulo">SOMOS</span>
        <div class="blog-slider__title">PubliSalud</div>
        <span class="blog-slider__code titulo">TU MEJOR ALIADO</span>
        <div class="blog-slider__text">
          <ul class="">
        <li class="collection-item">
      
          Recibe atención personalizada con calidad garantizada.
        </li>
        <li class="collection-item">
        
          Asesoría técnica especializada y capacitación continua.
        </li>
        <li class="collection-item">
         
          Servicio de ingeniería, soluciones rápidas y confiables.
        </li>
      </ul>
        </div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/jason-leung-798979-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor2</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
    <div class="blog-slider__item swiper-slide">
      <div class="blog-slider__img">
        <img src="https://res.cloudinary.com/muhammederdem/image/upload/q_60/v1535759871/alessandro-capuzzi-799180-unsplash.webp" alt="">
      </div>
      <div class="blog-slider__content">
        <span class="blog-slider__code">26 December 2019</span>
        <div class="blog-slider__title">Lorem Ipsum Dolor</div>
        <div class="blog-slider__text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Recusandae voluptate repellendus magni illo ea animi?</div>
        <a href="#" class="blog-slider__button">READ MORE</a>
      </div>
    </div>
    
  </div>
  <div class="blog-slider__pagination"></div>
</div-->






<app-footer></app-footer>