<section class="azul">
  <div class="contenido">
    <div class="container-fluid">
      <div class="row center-align">
        <div class="col l4 m12 s12">
          <ul class="shop-pets">
            <li class="card-large card-light" id="sup-dog">
              <div class="card-image">
                <img src="assets/img/mision.jpg">
                <h1>MISIÓN</h1>
              </div>
              <p>
               Brindar productos con <b>estándares internacionales</b> que fortalezcan a las instituciones de salud 
               públicas y privadas, respaldados por un <b>equipo capacitado, comprometido  y altamente eficiente</b>
                En Publisalud, nuestra política de servicio se basa en <b>calidad, honestidad, ética e integridad</b>
              </p>
            </li>
          </ul>
        </div>
        <div class="col l4 m12 s12">
          <ul class="shop-pets">
            <li class="card-large card-light" id="sup-dog">
              <div class="card-image">
                <img src="assets/img/politica.jpg">
                <h1>VISIÓN</h1>
              </div>
              <p>
              Ser la <b>primera opción</b> en la compra de reactivos y productos complementarios de calidad internacional, ofreciendo un <b>compromiso 
              permanente</b> con nuestros clientes para que su único enfoque sea la salud, <b>confiando plenamente</b> en Publisalud para el suministro de sus insumos.
              </p>
            </li>
          </ul>
        </div>

        <div class="col l4 m12 s12">
          <ul class="shop-pets">
            <li class="card-large card-dark" id="sup-cat">
             <div class="card-image">
               <img src="assets/img/vision.jpg">
               <h1>POLÍTICA</h1>
             </div>
              <p>
              Somos una empresa de salud con más de <b>10 años de experiencia</b>, comprometida con la satisfacción de los clientes. Ofrecemos productos y servicios de alta calidad,
               cumpliendo la <b>normatividad nacional</b> y actuando con ética e integridad. Mantenemos un <b>sistema de gestión eficaz</b>, basado en la mejora continua y en personal capacitado.
              </p>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

