
  <section class="parallax">
    <div class="container-fluid contenido alianza">
      <div class="row">
        <div class="col s12 m12 l6 xl6 left-align">
          <h3>
            Empresa líder en la distribución de
            <span class="verde">productos de calidad</span> y servicio
          </h3>
          <button
            class="cssbuttons-io-button"
            [routerLink]="['/contacto']"
            routerLinkActive="active"
          >
            CONTACTANOS
            <div class="icon">
              <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path
                  d="M16.172 11l-5.364-5.364 1.414-1.414L20 12l-7.778 7.778-1.414-1.414L16.172 13H4v-2z"
                  fill="currentColor"
                ></path>
              </svg>
            </div>
          </button>
        </div>
        <div class="col s12 m12 l6 xl6 center-align">
          <p>
            Somos una empresa mexicana fundada en el año 2000; desde su creación ha sentado bases
            firmes con el objetivo fundamental de proporcionar servicios alta calidad, para
            satisfacer las necesidades de sus clientes y ser una buena fuente de empleo. A través de
            estos años de servicio, reunimos la experiencia necesaria distribuyendo productos
            destinados a la salud; mediante una política de servicio y calidad trabajamos arduamente
            para fortalecer día a día nuestra empresa.
          </p>
        </div>
      </div>
    </div>
  </section>
